[Unit]
Description=Alpaca inference service

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/tmp/dj-twojastara/llama.cpp/main -m /tmp/dj-twojastara/llama.cpp/models/ggml-model-q4_0.bin --n_parts 1 --listen 8080

[Install]
WantedBy=multi-user.target