@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

body {
    font-family: 'Sora', sans-serif;
    background-color: #111;
    color: #ddd;
}

.largebox{
    border-radius: 15px;
    padding: 15px;
    color: #fff;
    box-shadow: 0 5px 30px #000;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden !important;
    height: 300px;
}

.largebox video{
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.buttonspanrightbottom {
    position: absolute;
    bottom: 16px;
    right: 16px;
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

.buttonspanrightbottom a{
    color: #222;
    background-color: #eee;
}

.horizontalbuttoncontainer{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    max-width: 100%;
}

@media screen and (max-width: 768px) {
    .horizontalbuttoncontainer{
        justify-content: center;
    }
}

.profilepic {
    border-radius: 50%;
    width: 100%;
    margin: 0 auto;
    display: block;
    max-width: 200px;
}

.copyrighttext {
    color: #555;
    font-size: 14px;
}

.centerdiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.queue {
    border-radius: 5px;
    background-color: #222;
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.input-group {
    display: flex;
    align-items: stretch; /* Ensures the input field and button are the same height */
}

.full-width {
    margin-right: 10px;
    flex-grow: 1; /* Allows the input field to take up all available space */
}

body, html {
    height: 100%;
}

.row {
    height: 100%;
}

.queue-container {
    flex-grow: 1;
    overflow: auto;
}